/Pertemuan 6/Teori/Transportasi/nbproject/private/
/Pertemuan 6/Teori/Transportasi/build/
/Pertemuan 6/Praktek/praktek/nbproject/private/
/Pertemuan 6/Praktek/praktek/build/
/Pertemuan 10/Teori/MenuForm/nbproject/private/
/Pertemuan 10/Teori/MenuForm/build/
/Pertemuan 10/Praktek/TextField1/nbproject/private/
/Pertemuan 10/Praktek/TextField1/build/
/Pertemuan 10/Praktek/BeratBadan/nbproject/private/
/Pertemuan 10/Praktek/BeratBadan/build/
/Pertemuan 10/Praktek/ExTextField1/nbproject/private/
/Pertemuan 11/CRUD_MVC/nbproject/private/
/Pertemuan 11/CRUD_MVC/build/
